{% load filters %}
{% load staticfiles %}
    				
<html xmlns="http://www.w3.org/1999/xhtml">

<link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<script src="{{ STATIC_URL}}mobileCheck" type="text/javascript"></script>
<script src="{{ STATIC_URL}}slideshow.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById('mobileFlag').value = jQuery.browser.mobile;
		
		$('#submit').attr('disabled', true);    
        
        var lastSelectedCity = '{{ lastSelectedCity }}';
        var lastSelectedNeighborhood = '{{ lastSelectedNeighborhood }}';
        
        $.getJSON("/getPhotos/" + lastSelectedCity.replace(' ','_') + "/" + lastSelectedNeighborhood.replace(' ','_'), function(data) {
        	lastSelectedCity = lastSelectedCity.replace(' ','_') + "/"
        	lastSelectedNeighborhood = lastSelectedNeighborhood.replace(' ','_') + "/"
        	
       		if (lastSelectedNeighborhood == 'all/') {
       			lastSelectedNeighborhood = '';
       		}
       		
       		var pics = [];
			for (var x = 1; x <= data; x++) {
		       	pics[x-1] =	".{{ STATIC_URL }}" + lastSelectedCity + lastSelectedNeighborhood + x + ".jpg";
    	    }  
    	    
        	pics = pics.sort(function(){return .5 - Math.random()});
        	$.backstretch(pics,{duration:7200, fade:1000});
        });
        
        $('select#city').val(lastSelectedCity).attr('selected', true);
        
        $("select#city").change(function() {        	
			//deconstruct spaces for URL
			var url = "/getNeighborhoods/" + $(this).val().replace(' ','_');
				
			$.getJSON(url, function(data) {
				var options = '<option value="all"> All Neighborhoods </option>';
				for (var i = 0; i < data.length; i++) {
					options += '<option value="' + data[i] + '">' + data[i] + '</option>';
				}
				$("select#neighborhood").html(options);
				$('select#neighborhood').val(lastSelectedNeighborhood).attr('selected', true);
				$("select#neighborhood").attr('disabled', false);
			});
					
			$('#submit').attr('disabled', false);
	       	
  	 	});
   	 	
        $('select#city').trigger('change');
	});
       	 
    
	function flipMobileFlag(){
		document.getElementById('desktopOverride').value = "true";
		document.getElementById('mobileFlag').value = !(document.getElementById('mobileFlag').value);
    }
    
	function clearFilters(){
		$("select#city option:first").attr('selected', 'selected');
    }
    
</script>
</head>

<body id="body">

<form class="selectForm" enctype="multipart/form-data" action="/" method="post" style="text-align: center;">
	{% csrf_token %}
	
	<div class="selectFormRow">
		<select name="city" id="city">
			<option value="{{ cities.0 }}">{{ cities.0 }}</option>
			{% for city in cities|slice:"1:" %}
				<option value="{{ city }}">{{ city }}</option>
			{% endfor %}
		</select>
		
		<select name="neighborhood" id="neighborhood" disabled="true">
			<option value="defaultNeighborhood">Select a Neighborhood</option>
		</select>
	</div>
	
	<div class="selectFormRow" style="padding-top: 20px;">
		<input id="submit" type="submit" value="Submit">
		<input id="clear" type="submit" value="Clear" onClick="clearFilters()">
		<input id="flipView" type="submit" value="Mobile/Desktop" onClick="flipMobileFlag()">
		<p> <input id="currentTimeOnly" name="currentTimeOnly" type ="checkbox" onClick="currentOnlyFilter()"> Right Now! </p>
	</div>
	<br/>
	<br/>
	<input type="hidden" id="mobileFlag" name="mobileFlag" value=""/>
	<input type="hidden" id="desktopOverride" name="desktopOverride" value="false"/>
</form>



<div id = "tableContainer" cellspacing='0' >
 <table id="report" style="width: 94%; margin: 3%; font-size: 32px">
        <tr>
            <th>Name</th>
    		<th>Location</th>
            <th>Today's Specials</th>
        </tr>
        <tr style="height: 150px">
        	<td style="font-size: 28px">
        		NAME
        	</td>
        	<td style="font-size: 28px">
        		ADDRESS
        	</td>
        	<td style="font-size: 28px">
        		<p style="font-size: 25px; float: left;" >4pm-8pm:</p><img style="font-size: 25px; float: left; padding-top:15px; padding-left:5px;" height="40px" src="{% static '2Beer.png' %}"/>
        		<p style="font-size: 25px; float: left;" >4pm-8pm:</p><img style="font-size: 25px; float: left; padding-top:15px; padding-left:5px;" height="40px" src="{% static '4Beer.png' %}"/>
        		<p style="font-size: 25px; float: left;" >4pm-8pm:</p><img style="font-size: 25px; float: left; padding-top:15px; padding-left:5px;" height="40px" src="{% static '5Beer.png' %}"/>
        	</td>
        </tr>
        {% for happyPlace in happyPlaces %}
	        	<tr style="height: 150px">
	            	<td style="font-size: 28px">
	            		{% if happyPlace.site != None %}
	            			<a target="_blank" href="{{ happyPlace.site }}">
								{{ happyPlace.name }}
							</a>
						{% else%}
							{{ happyPlace.name }}
						{% endif %}
					</td>
		            <td style="font-size: 28px">  
		            	<a target="_blank" href="https://www.google.com/maps/search/{{happyPlace.name}} {{ happyPlace.address }} {{ happyPlace.city }}/17z">
		            		{{ happyPlace.address }}
		            	</a>
		            	</br>@</br>
		            	{{ happyPlace.cross }}
		            </td>
		            <td style="font-size: 28px">
		            	{% for happyHour in happyPlace.happyHours.all %}
		            		{% if today in happyHour.days %}
		            			{% with start=happyHour.start|formatTime end=happyHour.end|formatTime %}
		            			{% with displayTime=start|formatTimeRange:end %}
		            			<strong>{{ displayTime }}:</strong> {{ happyHour.notes }}</br>
		            			{% endwith %}
		            			{% endwith %}        		
		            		{% endif %}
		        		{% endfor %}
		            </td>
		        </tr>

       	{% endfor %} 
    </table>
</div>

</br>
</br>
</br>
{#<a href="https://script.google.com/macros/s/AKfycbxY09aDQbhBdA7t_mB4H4abe_bMMlketJvxwlp8l2A0B_TcDjwN/exec">ADD A PHOTO</a>#}
</body>
</html>