{% load staticfiles %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL}}js/mobileCheck.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			document.getElementById('mobileFlag').value = jQuery.browser.mobile;
			navigator.geolocation.getCurrentPosition(abc);
		});
		
		function abc(h) {
			document.getElementById('latitude').value = h.coords.latitude;
			document.getElementById('longitude').value = h.coords.longitude;
		}
	</script>
</head>

<body style="background-image: url(./static/cheers.jpg); background-size: covers;">
	<img src="{% static 'logo.png' %}" style="display: block; margin: 0 auto;">
	<p style="text-align: center; color: black;">Find Your Happy Place</p>
	<form id="splashSelect" class="selectForm" enctype="multipart/form-data" action="/" method="post" style="text-align: center;">
		{% csrf_token %}
	
		<div class="selectFormRow">
			<select name="city" id="city">
				<option value="defaultCity">---</option>
				{% for city in cities %}
					<option value="{{ city }}">{{ city }}</option>
				{% endfor %}
			</select>
			<input id="submit" type="submit" value="Go">
		</div>
	
		<div class="selectFormRow" style="padding-top: 20px;">
		</div>
		
		<input type="hidden" id="mobileFlag" name="mobileFlag" value=""/>
	<input type="hidden" id="latitude" name="latitude" value=""/>
	<input type="hidden" id="longitude" name="longitude" value=""/>
		
	</form>
</body>

</html>